# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  version: 0.1
  Major: '1'
  Minor: '0'
  Patch: '0'

steps:

# RESTORE PACKAGES ------------------------------------------------------------------------

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '**/*.csproj'

# BUILD ------------------------------------------------------------------------------------

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

# RUN TESTS -------------------------------------------------------------------------------

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'
    
# PACKAGE AND PUBLISH TO NUGET -------------------------------------------------------------------------------
    
- task: NuGetCommand@2
  inputs:
    command: pack 
    packagesToPack: 'CoreHal.csproj'
    versioningScheme: byPrereleaseNumber
    majorVersion: '$(Major)'
    minorVersion: '$(Minor)'
    patchVersion: '$(Patch)'


